 @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,500&family=Fira+Sans+Condensed:wght@200&family=Inter&family=Source+Code+Pro:ital,wght@1,300&display=swap'); 

.fleximages h1{
    font-family: Cormorant Garamond;
    margin-top: 200px;
    margin-left: 40px;
}

.imag{
    margin-left: 15px;
    width: 490px;
    height: 490px;
    display: inline-block;
    display: wrap;
    flex-direction: row;
    align-items:center ;
    justify-content: center;
    padding: 0 20px 20px;
}
.imag:hover{
    opacity: 0.5;
    transition: .9s;
    
}